In [18]:
import pandas as pd

In [19]:
# 1、获取数据
path = "titanic.csv"
titanic = pd.read_csv(path)

In [20]:
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [21]:
x = titanic[["pclass", "age", "sex"]]
y = titanic["survived"]

In [22]:
# 缺失值处理
x["age"].fillna(x["age"].mean(),inplace=True)

/var/folders/w4/vh9mh6qs72x0ns5wj0s44tph0000gn/T/ipykernel_25867/1409284072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["age"].fillna(x["age"].mean(),inplace=True)

In [23]:
# 转化成字典
x = x.to_dict(orient="records")

In [25]:
from sklearn.model_selection import  train_test_split
# 数据集划分
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=22)

In [26]:
from sklearn.feature_extraction import DictVectorizer

In [27]:
transfer = DictVectorizer()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

In [34]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
estimator = DecisionTreeClassifier(criterion='entropy')
estimator.fit(x_train, y_train)
# 4）模型评估
print(estimator.score(x_test, y_test))
# 5) 可视化决策树
export_graphviz(estimator, out_file="titanic_tree.dot ", feature_names=transfer.get_feature_names())

0.7811550151975684

/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

### 随机森林对 titanic 乘客的生存进行预测

In [35]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

estimator = RandomForestClassifier()
# 网格化搜索
param_dict = {"n_estimators": [120, 200, 300, 500, 800, 1200],
              "max_depth": [5, 8, 15, 25, 30  ]}
estimator = GridSearchCV(estimator, param_grid=param_dict, cv =3)
estimator.fit(x_train,y_train)
print(estimator.score(x_test, y_test))
print(estimator.best_score_)
print(estimator.best_params_)

0.7872340425531915
0.8373983739837398
{'max_depth': 5, 'n_estimators': 120}